/* STYLEIMPROF +: Fokuseranimation + material underline */

.search-input {
    position: relative;
    background: rgba(255,255,255,0.03);
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 12px 48px 12px 50px;
    width: 100%;
    max-width: 600px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.35s ease in-out;
}

.search-input:focus {
    box-shadow: 0 0 0 4px rgba(0, 0, 0,0.15);
    border-color: #3a1aff;
    background-color: rgba(255, 255, 255, 0.08);
}

.search-input:hover {
    transform: scale(1.02, 1.02);
    box-show: 0 0 8px rgba(0, 0, 0,0.03);
    background-color: rgba(255, 255, 255,0.05);
    border-color: #2a7bf4;
}
